@model EmployeeCreateVm
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Decription"></label>
        <input asp-for="Decription" class="form-control">
        <span asp-validation-for="Decription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImgUrl"></label>
        <input asp-for="ImgUrl" class="form-control">
        <span asp-validation-for="ImgUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="facebookUrl"></label>
        <input asp-for="facebookUrl" class="form-control">
        <span asp-validation-for="facebookUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LinkUrl"></label>
        <input asp-for="LinkUrl" class="form-control">
        <span asp-validation-for="LinkUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="xUrl"></label>
        <input asp-for="xUrl" class="form-control">
        <span asp-validation-for="xUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProfessionId"></label>
        <select asp-items="ViewBag.Profession" asp-for="ProfessionId" class="form-control"></select>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>